#game-board {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 0 auto;
}

.card {
  width: 100px;
  height: 100px;
  background-image: url('hh.jpg'); /* Update with your image path */
  background-size: cover; /* This will make sure the image covers the whole card */
  margin: 10px;
  cursor: pointer;
}

.flipped {
  background-image: url('imageslol.jpg'); /* Update with your image path */
}
